
{{#modal title="Загрузите файл" id="avatar"}}
<form onsubmit="return false; " id="form-avatar">
    {{> forms/input label="" name="avatar" required="true" type="file" value="" helpingText="" status=""
    placeholder="Выбрать файл на компьютере"}}

    <div class="form-avatar-sucsess" style="display: none;">
        файл загружен
    </div>

    {{> forms/button label="Поменять" type="submit" }}
</form>
{{/modal}}

<div class="avatar" id="avatar" onclick="modalOpen('avatar');">
    <div>
        <span class="notphoto">И</span>
        <h1>{{name}}</h1>
    </div>
</div>
