
<div class="person-data">
    <form onsubmit="return false; ">
    <ul class=" ">
        <li>
            <div class="label">Почта</div>
            <div class="data">{{> forms/input label="" name="email" required="true" type="text" value="pochta@yandex.ru"  helpingText=""}}</div>
        </li>
        <li>
            <div class="label">Логин</div>
            <div class="data">{{> forms/input label="" name="login" required="true" type="text" value="ivanivanov"  helpingText=""}}</div>
        </li>
        <li>
            <div class="label">Имя</div>
            <div class="data">{{> forms/input label="" name="first_name" required="true" type="text" value="Иван"  helpingText=""}}</div>
        </li>
        <li>
            <dt class="label">Фамилия</dt>
            <div class="data">{{> forms/input label="" name="second_name" required="true" type="text" value="Иванов"  helpingText=""}}</div>
        </li>
        <li>
            <div class="label">Имя в чате</div>
            <div class="data">{{> forms/input label="" name="display_name" required="true" type="text" value="Иван"  helpingText=""}}</div>
        </li>
        <li>
            <div class="label">Телефон</div>
            <div class="data">{{> forms/input label="" name="phone" required="true" type="text" value="+7 (909) 967 30 30"  helpingText=""}}</div>
        </li>
    </ul>
    {{> forms/button label="Сохранить" type="submit" }}
 </form>
</div>
