
<div class="">
    <form onsubmit="return false; ">
    <ul class=" ">
        <li>
            <div class="label">Старый пароль</div>
            <div class="data">{{> forms/input label="" name="oldPassword" required="true" type="password" value=""  helpingText=""}}</div>
        </li>
        <li>
            <div class="label">Новый пароль</div>
            <div class="data">{{> forms/input label="" name="newPassword" required="true" type="password" value=""  helpingText=""}}</div>
        </li>
        <li>
            <div class="label">Повторите новый пароль</div>
            <div class="data">{{> forms/input label="" name="newPassword2" required="true" type="password" value=""  helpingText=""}}</div>
        </li>
    </ul>
    {{> forms/button label="Сохранить" type="submit" }}
 </form>
</div>
