.chat {
    display: flex;
    flex: 1;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: row;
    color: var(--colorGrey);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    max-height: 100vh;

    & .context {
        display: flex;
         
        width: auto;
        max-width: none;
        background-color: #fff;
        margin: 0px;
        overflow-y: auto;
        overflow-x: hidden;
        height: auto;
        max-height: 100vh;
 
    }

    & .menu {
        display: flex;
        width: 20%;
        max-width: 310px;
        background-color: #FBFBFB;
        margin: 0px;
        overflow-y: scroll;
        overflow-x: hidden;
        height: auto;
        max-height: 100vh;
        justify-content: flex-start;
        /*
        position: fixed;
        top: 0px;
        left: 0;
        bottom: 0;
        width: 20%;
        padding: 0px;
        max-width: 310px;
        background-color: #FBFBFB;
        flex-flow: column;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 100%;
        max-height: 100vh;
        z-index: 99;
        justify-content: flex-start;
        */
    }

    & .img {
        display: flex;
        width: 47px;
        height: 47px;
        background-color: #EFEFEF;
        border-radius: 50%;
    }

    & .profile_link {
        margin-bottom: 20px;
        text-align: right;
        padding: 10px;

        & a {
            color: #999999;
        }
    }

    & .search {
        margin-bottom: 20px;
        padding: 10px;
    }

    & input {
        background-color: #EFEFEF;
        height: 32px;
        border-bottom-width: 0px;

        &::placeholder {
            text-align: center;
        }
    }

    & .users {
        display: flex;
        flex-direction: column;

        justify-content: stretch;

        & .user {
            display: flex;
            flex: 1;
            flex-wrap: nowrap;
            justify-content: stretch;
            border-top: 1px solid #EAEAEA;
            padding: 10px;
            padding-top: 13px;

            margin-bottom: 13px;

            &.active {
                background-color: #E4EDFD;
            }
        }

        & .content {
            padding-left: 10px;
        }

        & .title {
            display: flex;
            flex: auto 1;
            flex-wrap: nowrap;
            justify-content: space-between;


            & .name {
                font-size: 13px;
                font-weight: 600;
                color: #1E1E1E;
            }
        }

        & .date {
            display: flex;
            justify-content: right;
            align-items:flex-end;
            font-size: 11px;
            text-align: right;


        }

        & .message {
            display: flex;
            flex: auto;
            flex-wrap: nowrap;
            justify-content: stretch;
            text-align: left;
            font-size: 12px;
            line-height: 15px;
            padding-top: 5px;

            & .text {
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        & .badge {
            min-width: 20px;
            margin-left: 5px;

            & span {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 11px;
                background-color: var(--colorPrimary);
                border-radius: 50%;
                height: 20px;
                min-width: 20px;
            }
        }
    }

}
