.dropdown-content .a span {
  font-size: 14px;
  color: #3369f3;
}

.chat {
  color: var(--colorgrey);
  display: flex;
  flex: 1;
  align-items: stretch;
  overflow: hidden hidden;
  height: 100vh;
  max-height: 100vh;
  place-content: stretch space-around;
  flex-flow: row nowrap;

  & input {
    background-color: #efefef;
    height: 32px;
    border-bottom-width: 0;

    &::placeholder {
      text-align: center;
    }
  }

  & .search {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 10px;

    & form {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      & .group-input {
        flex-grow: 1;
        margin-bottom: 0;
      }

      & .button {
        flex-grow: 1;
      }

      & button {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        padding: 6px;
      }

      & input {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 4px;
      }
    }
  }

  & .context {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-width: 80%;
    background-color: #fff;
    margin: 0;
    overflow: hidden hidden;

    & .user {
      flex: auto;
      display: flex;
      text-align: left;
      padding: 10px;
      padding-top: 10px;
      border-bottom: 1px solid #eaeaea;
      max-height: 54px;
      justify-content: space-between;
      align-items: center;
      font-size: 13px;
      color: #1e1e1e;
      flex-flow: row nowrap;
    }

    & .posts {
      flex: auto;
      display: flex;
      padding: 10px;
      text-align: left;
      overflow: hidden auto;
      align-items: baseline;
      place-content: stretch flex-end;
      flex-flow: column wrap;

      & .nodata {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      & .post {
        align-self: flex-start;
        max-width: 60%;
        background-color: #f8f8f8;
        padding: 10px;
        border-radius: 10px;
        border-top-left-radius: 0;
        margin: 5px;

        & .date {
          font-size: 9px;
          font-weight: 500;
          margin-top: 10px;
          color: #999;
          text-align: center;

          & .read {
            color: #3369f3;
          }
        }
      }

      & .self {
        align-self: flex-end;
        background-color: #e4edfd;
        border-top-left-radius: 10px;
        border-end-end-radius: 0;
      }
    }

    & .input-message {
      flex: auto;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      padding: 10px;
      max-height: 50px;
      text-align: start;
      border-top: 1px solid #eaeaea;

      & .button-img-add {
        flex-grow: 1;
        width: 34px;
        height: 34px;
        margin-top: 8px;
        max-width: 34px;
      }

      & form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        & .group-input {
          flex-grow: 1;
        }

        & .button {
          flex-grow: 1;
        }

        & input {
          padding: 4px;
          border-radius: 30px;
          padding-left: 24px;
          padding-right: 24px;
          width: 95%;

          & ::placeholder {
            text-align: center;
          }
        }

        & button {
          border-radius: 50%;
          padding: 5px;
          padding-top: 8px;
          line-height: 1;
        }
      }
    }
  }

  & .menu {
    display: flex;
    width: 20%;
    max-width: 310px;
    background-color: #fbfbfb;
    margin: 0;
    overflow: hidden scroll;
    height: auto;
    max-height: 100vh;
    justify-content: flex-start;
  }

  & .new-chat {
    padding: 10px;
    border-top: 1px solid #eaeaea;
  }

  & .img {
    display: flex;
    width: 47px;
    height: 47px;
    background-color: #efefef;
    border-radius: 50%;
    border: 1px solid #dedede;
  }

  & .profile-link {
    margin-bottom: 20px;
    text-align: right;
    padding: 10px;

    & a,
    & .link {
      color: #999;
    }
  }

  & .users {
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    & .user {
      display: flex;
      flex: 1;
      flex-wrap: nowrap;
      justify-content: stretch;
      border-top: 1px solid #eaeaea;
      padding: 10px;
      padding-top: 13px;
      margin-bottom: 13px;

      &.active {
        background-color: #e4edfd;
      }
    }

    & .content {
      display: flex;
      padding-left: 10px;
      place-content: stretch space-evenly;
      width: 100%;
      flex-flow: column nowrap;
    }

    & .title {
      display: flex;
      flex: auto 1;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: flex-start;

      & .name {
        font-size: 13px;
        font-weight: 600;
        color: #1e1e1e;
      }
    }

    & .datelast {
      display: flex;
      justify-content: right;
      align-items: flex-end;
      font-size: 11px;
      text-align: right;
    }

    & .message {
      display: flex;
      flex: auto 1;
      flex-wrap: nowrap;
      justify-content: space-between;
      text-align: left;
      font-size: 12px;
      line-height: 15px;
      padding-top: 5px;
      align-items: flex-start;

      & .text {
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }

    & .badge {
      min-width: 20px;
      margin-left: 5px;

      & span {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 11px;
        background-color: var(--colorprimary);
        border-radius: 50%;
        height: 20px;
        min-width: 20px;
      }
    }
  }
}

.dropbtn {
  background-color: #fff;
  font-size: 12px;
  padding: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 260px;
  z-index: 1;
  padding-top: 30px;

  & > div {
    --colorshadow: rgb(0 0 0 / 14%);

    background-color: #fff;
    border-radius: 12px;
    filter: brightness(95%);
    filter: drop-shadow(5px 5px 5px var(--colorshadow));
    padding: 20px;
  }
}

.dropdown-content .a {
  color: black;
  padding: 12px 16px;
  font-size: 14px;
  line-height: 14px;
  display: block;
  font-weight: 500;
  border-radius: 12px;
}

.dropdown-content .a:hover {
  background-color: #f8f8f8;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f5f5f5;
  border: 0;
  color: #3369f3;
  border-radius: 50%;
}
