.profile {
  & .link-back {
    position: absolute;
    height: 100%;
    width: 64px;
    background-color: #fbfbfb;
    align-items: center;

    & a,
    & .link {
      width: 28px;
      height: 28px;
      color: var(--colorwhite);
      background-color: var(--colorprimary);
      border-radius: 50%;
      line-height: 1px;
      padding-top: 2px;
    }
  }

  & > div {
    max-width: 510px;
    font-size: 15px;
    margin-bottom: 20px;
  }

  & .label,
  & label {
    text-align: left;
    width: 35%;
  }

  & .data,
  & .inputitem {
    text-align: right;
    width: 65%;
    color: #999;
  }

  & ul {
    margin-top: 3rem;
    padding-inline-start: 0;
  }

  & li {
    position: relative;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgb(45 55 75);
    background-color: rgb(255 255 255);
    border: 1px solid transparent;
    border-bottom-color: rgb(220 224 229);
  }

  & .group-input {
    position: relative;
    display: flex;
    margin-bottom: 0;
  }

  & li:last-child {
    border: 0 solid transparent;
  }

  & .logout {
    color: var(--colordanger);
  }

  & input {
    border-color: transparent;
    margin-bottom: 0;
    text-align: right;
    color: #999;
    background-color: rgb(0 0 0 / 10%);
  }

  & button {
    max-width: 280px;
    margin-top: 2rem;
  }

  & .helping-text {
    position: relative;
    display: block;
  }

  & label {
    font-size: 13px;
    color: #2d374b;
    font-weight: 500;
  }
}

.avatar {
  display: inline-block;
  text-align: center;

  & > div {
    background-color: #efefef;
    border-radius: 50%;
    display: inline-block;
    width: 11rem;
    height: 11rem;
    justify-content: center;
    margin-top: 50px;
  }

  & .linkphoto {
    position: absolute;
    display: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--bggray);
    width: 11rem;
    height: 11rem;
    z-index: 100;
    vertical-align: bottom;

    & .icon {
      display: none;
    }

    &:hover {
      display: flex;
      background-color: rgb(0 0 0 / 50%);

      & .icon {
        display: inline-block;
      }
    }
  }

  & #avatar-photo {
    height: 132px;

    &:hover {
      & .linkphoto {
        display: flex;
        background-color: rgb(0 0 0 / 50%);
        color: var(--colorwhite);

        & .icon {
          display: inline-block;
          width: 50%;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }

  & .photo {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;

    & img {
      border-radius: 50%;
      width: 11rem;
      height: 11rem;
    }

    & .material-symbols-outlined {
      color: var(--textgray);
      font-size: 44px;
    }
  }
}

& .notphoto {
  border-radius: 50%;
  background-color: var(--bggray);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11rem;
  height: 11rem;
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}
