@custom-selector :--heading h1, h2, h3, h4, h5, h6;

/*
:root {
  --colordanger: #ff2f2f;
  --colorprimary: #3369f3;
  --colorgrey: #999;
  --colorwhite: #fff;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}
*/
html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  height: 100vh;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: auto;
}

section {
  display: flex;
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
  align-items: center;
}

section > div {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  height: auto;
}

a,
.link {
  font-size: 11px;
  color: var(--colorprimary);
  text-decoration: inherit;
  cursor: pointer;
}

:--heading {
  font-weight: 500;
}

h1 {
  font-size: 20px;
  margin-bottom: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 13px;
}

h3 {
  font-size: 12px;
}

button {
  --color: #fff;
  --background-color: #3369f3;
  --border-color: #3d70f1;

  font-family: inherit;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--border-color);

  &:focus {
    filter: brightness(90%);
  }

  &:hover {
    --colorshadow: rgb(0 0 0 / 30%);

    filter: brightness(95%);
    filter: drop-shadow(5px 5px 5px var(--colorshadow));
  }
}

.text-left {
  text-align: left;
}

.card {
  background-color: #fff;
}

.alert {
  position: relative;
  padding: 1rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.alert-warning {
  color: #c18300;
  background-color: #fff8e9;
  border-color: #ffcd65;
}

.alert-error {
  color: #e7026e;
  background-color: #ffe5f1;
  border-color: #fe9ecb;
}

.alert-succsess {
  color: #45a197;
  background-color: #f7fdfc;
  border-color: #a3ebe4;
}

.links-list {
  margin-top: 20px;
  display: flex;
  font-size: 18px;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-height: 300px;
  overflow: hidden auto;

  & .link {
    font-size: 18px;
    padding: 10px;
    color: inherit;
    line-height: 1;
  }

  & span {
    font-size: 18px;
    line-height: 1;
    color: var(--colorprimary);
    padding-right: 10px;
  }
}
