@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  --colordanger: #ff2f2f;
  --colorprimary: #3369f3;
  --colorgrey: #999;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0;
  color: #1e1e1e;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #efefef;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

section {
  display: block;
  width: 100%;
  background-color: #fff;
  text-align: center;
  align-items: center;
}

section > div {
  display: flex;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
}

a {
  font-size: 11px;
  color: var(--colorprimary);
  text-decoration: inherit;
}

:--heading {
  font-weight: 500;
}

h1 {
  font-size: 20px;
  margin-bottom: 4rem;
  font-weight: 500;
}

h2 {
  font-size: 13px;
}

h3 {
  font-size: 12px;
}

button {
  --color: #fff;
  --background-color: #3369f3;
  --border-color: #3d70f1;

  font-family: inherit;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 1rem;
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--color);
  background-color: var(--background-color);
  border-color: var(--border-color);

  &:focus {
    filter: brightness(90%);
  }

  &:hover {
    --colorshadow: rgb(0 0 0 / 30%);

    filter: brightness(95%);
    filter: drop-shadow(5px 5px 5px var(--colorshadow));
  }
}

.text-left {
  text-align: left;
}

.card {
  background-color: #fff;
}
