@import './pages/global.css'; /* global styles */
@import './partials/forms/forms.css';
@import './partials/modal/modal.css';
@import './pages/auth/auth.css';
@import './pages/profile/profile.css';
@import './pages/chat/chat.css';
@import './pages/errors/errors.css';

/*
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter/static/Inter-Regular.ttf) format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter/static/Inter-Medium.ttf) format('ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter/static/Inter-SemiBold.ttf) format('ttf');
  font-weight: 600;
}
*/

/* index */
.menu-link {
  max-width: 340px;
  font-size: 15px;
  margin-bottom: 20px;
}
