@import url('./pages/global.css');
@import url('./components/forms/form/forms.css');
@import url('./components/modal/modal.css');
@import url('./pages/auth/auth.css');
@import url('./pages/profile/profile.css');
@import url('./pages/chat/chat.css');
@import url('./pages/errors/errors.css');

/*
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter/static/Inter-Regular.ttf) format('ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter/static/Inter-Medium.ttf) format('ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url(../public/fonts/Inter/static/Inter-SemiBold.ttf) format('ttf');
  font-weight: 600;
}
*/
main {
  display: flex;
  place-items: center;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

/* index */
.menu {
  padding-inline-start: 0;
}

.menu-link {
  max-width: 340px;
  font-size: 15px;
  margin-bottom: 20px;
  list-style: none;
}
